body{
    background-color : aqua;
    font-size: large;
  
}
#titolo{
    text-align: center;
}
#tabella{
    text-align: center;
    margin-top: 0px;
    border: 10px;
    opacity: 100%;
}
#colore{
    background-color: aliceblue;
}